*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
/* Container Start */
#logo{
    width: 500px;
    height: 150px;
    margin: 0 auto;  
    left: 30%;
}
.container{
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    
}
#todoinput{
    width:70% ;
    height: 30px;
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
    border: 2px solid rgb(247, 133, 0);
}

#button{
    margin-top: 15px;
    padding: 7px 25px;
    border-radius: 20px;
    background-color:rgb(247, 133, 0);
    color:white;
    border: white;

}
#button:hover {
    background-color: white;
    border: 1px solid orangered ;
    color: rgb(247, 133, 0);
}


    

 /* Container End */



 /* TodoList Start */
.listGroup{
    
    width: 1000px;
    margin: 0 auto;
    
}
.list-group-item{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.list-group-item:hover{
    background-color: rgb(247, 133, 0);
}

 /* TodoList End */